#python_version >= "3.10"; 

# Core
numpy<2             # PyVista / VTK ABI safe
pyvista             # 3D plotting and mesh
vtk                 # 3D rendering backend       

# Image handling
pillow